
titlefont{
	text-decoration: underline;
	color: gray;
	font-size:11px;
}

#activity-cont h1{
	color: #c9d0d4;
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 25px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
	word-break:break-all;
}

#activity-cont h2 { 
	color: #bbc3c8; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 20px; 
	font-weight: bold; 
	line-height: 10px; 
	margin: 0 0 72px; 
	text-align: center; 
	word-break:break-all;
}

.caption{
	height :250px;
}

.caption p { 
	color: #bbc3c8; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 14px; 
	line-height: 24px; 
	margin: 0 0 24px; 
	text-align: justify; 
	text-justify: inter-word;
	word-break:break-all;
}
