

  .header 
  {
    margin: 50px auto;
    padding : 150px;
    text-align: center;
    background: #d8d5d5;
  }
  .header h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .header h1 span {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #ff0000;
  }

.login 
{ 
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.login input 
{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
  }
  .login button 
  {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
   .register {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
   .register a 
  {
    color: #EF3B3A;
    text-decoration: none;
  }

  .register-form
  {

    background : rgba(19, 18, 18, 0.5);
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display : none;
    position : relative;
    left : 320px;
    top : -300px;
  }
  .register-form input 
{
  outline: 0;
  background: #f2f2f2;
  width: 270px;
  border: 0;
  margin: 20px 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  }
  .register-form button 
  {
    outline: 0;
    background: #EF3B3A;
    width: 270px;
    border: 0;
    margin: 15px 0 15px;;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  